* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inp {
  margin-top: 10px;
  font-size: 25px;
  height: 35px;
}
.select {
  font-size: 20px;
  height: 35px;
}

.error {
  outline-color: red;
}
