* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  transition: 2s;
  display: flex;
  flex-direction: row-reverse;
}
button {
  cursor: pointer;
  background-color: aqua;

  border-radius: 15px;
}

#send,
#initBtn {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

.box {
  transition: 2s;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

input {
  padding: 10px;
  font-size: 25px;
  margin-top: 10px;
}

#form {
  animation: slide 1.5s;
  position: relative;
  padding: 20px;
  margin: 20px auto;
  background-color: #c1e3ff;
  border: 1px solid;
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}
