* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
label {
  font-size: 20px;
  font-weight: bold;
}
body {
  display: flex;
  flex-direction: row;
}
.check {
  transform: scale(1.5);
  margin: 0 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 50px auto;
  width: 900px;
  height: 200px;
  background-color: #10bd00;
}
.checks {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

#usertext {
  font-size: 25px;
  margin: 10px auto;
  height: 30px;
  width: 250px;
}
