.selector {
  font-family: Roboto;
  padding: 17px;
  max-width: 250px;
  position: absolute;
  top: 25vh;
  left: 45vw;
  z-index: 50;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.selector__option {
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #cccccc;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.selector__button {
  font-weight: bold;
  margin-top: 10px;
  background-color: #039752;
  padding: 10px;
  cursor: pointer;
}
.selector__label {
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 20px;
}
.selector__button:hover {
  background-color: #00ee7f;
}
.select__article {
  margin: 10px auto;
  padding: 5px;
  font-size: 23px;
}
.selector__option:hover {
  background-color: #ccc;
}
.selector__checkbox {
  transform: scale(1.2);
}
@media (max-width: 780px) {
  .selector {
    left: 20vw;
  }
}
