* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272822;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_none {
  display: none;
}
p {
  margin-top: 5px;
  font-weight: bold;
}
.article_font-mod {
  font-size: 20px;
}

.list_link {
  display: block;
  padding: 10px;
  color: #7e1af0;
  text-decoration: none;
  width: auto;
  font-weight: bold;
}

#active {
  background-color: #65f76c;
}

.list_element:hover {
  background-color: #b8f765;
}

.list_element:first-child {
  margin-top: 0;
}

.list_element {
  margin-top: 5px;
  width: fit-content;
}

.history_list {
  list-style-type: none;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 1200px;
}
.container_wrapper {
  display: flex;
  flex-direction: row;
}

.container_block_m-l {
  margin: 7px;
}
.container_history {
  overflow: auto;
}

.container_out_mod {
  color: #222222;
  margin: 7px;
  width: 225px;
  padding: 10px;
  height: 370px;
  background: #edf765;
}

.container_block {
  border-radius: 20px;
  position: relative;
  width: 225px;
  height: 370px;
  text-align: center;
  background: #edf765;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font-family: Muemo, sans-serif;
}

input {
  height: 35px;
  font-size: 25px;
}

.wrapper_header {
  width: 310px;
}

#wrapper_header {
  position: relative;
  width: 100%;
  height: 100%;
}

#header_tracking-logo {
  position: relative;
  width: 100%;
  height: 25%;
  background: url("./img/np-logo.svg") no-repeat center;
  border-bottom: solid 1px #b1b9c180;
  margin-bottom: 13%;
}

#header_title {
  display: block;
  width: 100%;
  line-height: 1.31;
  height: 15%;
}

#header_title .title_h1 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #6c737b;
  padding: 0;
  margin: 0;
  font-family: Muemo, sans-serif;
}

#wrapper_input-container_in {
  position: relative;
  height: 20%;
}

#input-container_user-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 11px 25px 12px 9px;
  border: 1px solid #e0e0e0;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  box-sizing: border-box;
  background: #fbfbfb;
  font-family: Muemo, sans-serif;
}

.btns {
  margin-top: 15px;
  width: 100%;
  height: 38px;
  padding: 2%;
  outline: none;
  font-size: 15px;
  color: #fff;
  background: #039752;
  border: 1px solid transparent;
  font-family: Muemo, sans-serif;
  cursor: pointer;
  letter-spacing: 1px;
}

.btns:hover {
  background: #006938;
}
