* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #272822;
  font-family: Muemo, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_none {
  display: none;
}
p {
  margin-top: 5px;
  font-weight: bold;
}
.notifications {
  width: 125px;
  top: -17%;
  left: 3.1vw;
  z-index: 5000;
  position: absolute;
  display: none;
  border-radius: 25px;
  margin: 5px auto;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #e42020;
}
.article_font-mod {
  font-size: 20px;
}

.list_link {
  display: block;
  padding: 10px;
  color: #7e1af0;
  text-decoration: none;
  width: auto;
  font-weight: bold;
}

#active {
  background-color: #65f76c;
}

.list_element:hover {
  background-color: #b8f765;
}

.list_element:first-child {
  margin-top: 0;
}

.list_element {
  margin-top: 5px;
  width: fit-content;
}

.history_list,
.branch-loc__list {
  list-style-type: none;
  padding: 10px;
}
.branch-loc__list {
  text-align: right;
}

.container {
  position: relative;
  margin: 30px auto;
  max-width: 1200px;
}
.container_wrapper {
  display: flex;
  flex-direction: row;
}

.container_block_m-l {
  margin: 7px;
}
.container_history {
  overflow: auto;
}

.container_out_mod {
  color: #222222;
  margin: 7px;
  width: 225px;
  padding: 10px;
  height: 370px;
  background: #edf765;
}
.out__tracking,
.out__branch-loc {
  margin: 10px;
  text-align: center;
}
.out__article {
  color: #7e1af0;
}

.container_block {
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  width: 250px;
  height: 540px;
  text-align: center;
  background: #edf765;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font-family: Muemo, sans-serif;
}

.wrapper_header {
  width: 310px;
}

#wrapper_header {
  position: relative;
  width: 100%;
  height: 100%;
}

#header_tracking-logo {
  position: relative;
  width: 100%;
  height: 11%;
  background: url("./img/np-logo.svg") no-repeat center;
  border-bottom: solid 1px #b1b9c180;
  margin-bottom: 4%;
}

#header_title {
  display: block;
  width: 100%;
  line-height: 1.31;
  height: 15%;
}

#header_title .title_h1 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #6c737b;
  padding: 0;
  margin: 0;
  font-family: Muemo, sans-serif;
}

#wrapper_input-container_in {
  position: relative;
  height: 50%;
}

.user_data {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 5px;
  padding: 11px 25px 12px 9px;
  border: 1px solid #e0e0e0;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  box-sizing: border-box;
  background: #fbfbfb;
  font-family: Muemo, sans-serif;
}
.init_btn {
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 15px;
  width: 100%;
  height: 38px;
  padding: 2%;
  font-family: Muemo, sans-serif;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  color: #faf38c;
  border: 1px solid #7c8a93;
  border-top: 1px solid #a1aeb7;
  border-bottom: 1px solid #5d6b75;
  box-shadow: inset 0 1px #d8e0e6, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #a1b5c4, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000),
    color-stop(100%, #5ada9e)
  );
}
.init_btn:hover {
  border-top: 1px solid #96a2ab;
  box-shadow: inset 0 1px #c0ced7, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #b9c8d3, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #64e6aa),
    color-stop(100%, #000000)
  );
  background-color: #5ada9e;
}
.init_btn:active {
  top: 3px;
  border: 1px solid #778998;
  border-top: 1px solid #606f7a;
  border-bottom: 1px solid #8296a6;
  background: #00ab1f;
  box-shadow: inset 0 1px 2px #5f7281;
}
